@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family, 'Karma', serif);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .karma-light {
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
  }

  .karma-regular {
    font-family: "Karma", serif;
    font-weight: 400;
    font-style: normal;
  }

  .karma-medium {
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
  }

  .karma-semibold {
    font-family: "Karma", serif;
    font-weight: 600;
    font-style: normal;
  }

  .karma-bold {
    font-family: "Karma", serif;
    font-weight: 700;
    font-style: normal;
  }
}

@layer components {
  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
